@import "ember-basic-dropdown";
@import "ember-power-calendar";
@import "ember-power-select";

$power-datetime-picker-time-select-background-color: green !default;
$power-datetime-picker-time-select-border-radius: 3px !default;
$power-datetime-picker-time-select-trigger-color: #fff !default;
$power-datetime-picker-time-select-disabled-background-color: gray !default;

$animated-accordion-header-font-size: 2em !default;
$animated-accordion-header-icon-hover-fill: blue !default;
$animated-accordion-header-icon-fill: gray !default;

$pop-up-box-border-radius: 3px !default;

$draggable-dropzone-border-color: gray !default;
$draggable-dropzone-activated-color: blue !default;
$draggable-dropzone-activated-border-color: blue !default;

.ember-power-calendar {
  @include ember-power-calendar($cell-size: 30px);
}

.ember-application {
  @import "ember-extended-elements/_labelled-checkbox";
  @import "ember-extended-elements/_file-select";
  @import "ember-extended-elements/_file-drop";
  @import "ember-extended-elements/_in-page-alert";
  @import "ember-extended-elements/_css-popout-box";
  @import "ember-extended-elements/_animated-accordion";
  @import "ember-extended-elements/_confirm-cancel-popout";
  @import "ember-extended-elements/_power-datetime-picker";
}