$info-popout-icon-background: gray !default;
$info-popout-icon-fill: #fff !default;




$animated-accordion-header-font-size: 2em !default;
$animated-accordion-header-icon-hover-fill: gray !default;
$animated-accordion-header-icon-fill: gray !default;
$animated-accordion-item-margin-bottom: 16px !default;

$pop-up-box-border-radius: 3px !default;

$draggable-dropzone-border-color: gray!default;
$draggable-dropzone-activated-color: gray!default;
$draggable-dropzone-activated-border-color: gray !default;

$radio-button-checkbox-vertical-offset: 0 !default;

$svg-data-uri-icon-bar: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38 28"><path fill="%23fff" class="line" d="M34.7 17H3.3c-1.7 0-3-1.3-3-3s1.3-3 3-3h31.3c1.7 0 3 1.3 3 3S36.3 17 34.7 17z"/></svg>') !default; 

$svg-data-uri-icon-tick: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38 28"  class="single-colour tick"><path fill="%23fff" d="M13 28c-0.7 0-1.3-0.2-1.9-0.7l-10-8c-1.3-1-1.5-2.9-0.5-4.2 1-1.3 2.9-1.5 4.2-0.5l7.9 6.3L32.9 0.9c1.2-1.2 3.1-1.2 4.2 0 1.2 1.2 1.2 3.1 0 4.2l-22 22C14.5 27.7 13.8 28 13 28z"/></svg>') !default;

@import "ember-sundries/_labelled-checkbox";
@import "ember-sundries/_labelled-radio-button";
@import "ember-sundries/_file-select";
@import "ember-sundries/_file-drop";
@import "ember-sundries/_in-page-alert";
@import "ember-sundries/_info-popout";
@import "ember-sundries/_css-popout-box";
@import "ember-sundries/_animated-accordion";
@import "ember-sundries/_confirm-cancel-popout";
// @import "ember-sundries/_power-datetime-picker";
@import "ember-sundries/_ember-basic-dropdown";
@import "ember-sundries/_power-daterange-picker";
@import "ember-sundries/_select-all-checkbox";
@import "ember-sundries/_print-object";
@import "ember-sundries/_moment-date-time";
@import "ember-sundries/_ember-simplebar";