@import "ember-basic-dropdown";
@import "ember-power-calendar";
@import "ember-power-select";

$power-datetime-picker-time-select-background-color: $primary !default;
$power-datetime-picker-time-select-border-radius: 3px !default;
$power-datetime-picker-time-select-trigger-color: #fff !default;
$power-datetime-picker-time-select-disabled-background-color: gray !default;

$animated-accordion-header-font-size: 2em !default;
$animated-accordion-header-icon-hover-fill: $primary !default;
$animated-accordion-header-icon-fill: gray !default;

$pop-up-box-border-radius: 3px !default;

$draggable-dropzone-border-color: $gray-light !default;
$draggable-dropzone-activated-color: $gray-light !default;
$draggable-dropzone-activated-border-color: $gray-dark !default;

$radio-button-checkbox-vertical-offset: 0 !default;

.ember-power-calendar {
  @include ember-power-calendar($cell-size: 30px);
}

.ember-application {
  @import "ember-extended-elements/_labelled-checkbox";
  @import "ember-extended-elements/_file-select";
  @import "ember-extended-elements/_file-drop";
  @import "ember-extended-elements/_in-page-alert";
  @import "ember-extended-elements/_css-popout-box";
  @import "ember-extended-elements/_animated-accordion";
  @import "ember-extended-elements/_confirm-cancel-popout";
  @import "ember-extended-elements/_power-datetime-picker";
  @import "ember-extended-elements/_ember-basic-dropdown";
  @import "ember-extended-elements/_power-daterange-picker";
  // @import "ember-extended-elements/filtered-data-table/_data-table-filter-controls";
  // @import "ember-extended-elements/filtered-data-table/_data-table-pagination-controls";
  // @import "ember-extended-elements/filtered-data-table/_data-table";
}
