{{#each filteredArray as | object| }}
  <div style="{{object.style}}" class="print-object-item">
    <span class="key">{{object.key}}{{object.separator}}</span> <span class="value">{{object.value}}</span>
  </div>
{{/each}}