{{#if @activeModal}}
  <ModalDialog
    @onClose={{fn (mut @activeModal) false}}
    @translucentOverlay="true"
  ><div
      class="flex flex-justify-space-between flex-align-center margin-bottom-lg"
    >
      {{#if @title}}<h3 class="margin-0">{{@title}}</h3>{{/if}}<button
        onclick={{fn (mut @activeModal) false}}
        class="btn-content"
      ><SvgRepo::Icons::IconCross
          class="fill-gray-medium width-lg"
          data-test-id="icon-cross"
        /></button></div>
    {{yield}}
  </ModalDialog>
{{/if}}