{{#if @datetime}}
  <span class="moment-date-time mdt-date">
    {{moment-format @datetime "YYYY-MM-DD"}}
  </span>
  <span class="moment-date-time mdt-time">
    {{moment-format @datetime "HH:mm"}}
  </span>
{{/if}}