$primary: blue;
$gray-light: #ccc;
$gray-medium: #666;
$gray-dark: #333;
$body-text-font-size: 1.4em;
$spacer-md: 8px;
$spacer-xl: 32px;
@import "ember-extended-elements";

input {
  border: 1px solid #ccc;
}