div.table-pagination {
  display: flex;
  align-items: center;

  input {
    width: 50px;
    height: 30px;
    display: inline;
    border-width: 1px;
    text-align: center;
    text-indent: 0;
  }

  div.page-navigation {
    margin-right: 64px;
  }

  div.page-navigation input {
    float: none;
  }

  div.page-navigation div.page-number-input {
    float: left;
    padding: 0 4px;
  }

  svg {
    fill: #bbb;
    cursor: pointer;
  }

  .incrementing-arrow:hover svg {
    fill: $primary;
  }

  div.page-navigation {
    display: flex;

    .incrementing-arrow:last-child {
      margin: 0 0 0 5px;
    }
  }

  .incrementing-arrow.left-right svg {
    height: 30px;
    width: 12px;
  }

  .incrementing-arrow-double.left-right svg {
    height: 30px;
    width: 21px;
  }

  div.page-size span.page-size {
    font-weight: 700;
    margin-right: 5px;
  }

  div.page-size {
    display: flex;
    height: 26px;
    align-items: center;

    div.arrows {
      display: flex;
      flex-direction: column;
    }

    .incrementing-arrow.up-down {
      height: 13px;

      svg {
        width: 20px;
        height: 13px;
      }
    }

    div.arrows .incrementing-arrow:first-child {
      margin-bottom: 5px;
    }
  }
}
