$spacer-lg: 12px;

.accordion-wrapper {
  display: inline-flex;
  flex-direction: column;
}

.accordion-item {
  border: 1px solid #ddd;
  margin: 1px 0 $animated-accordion-item-margin-bottom 0; // 1px top to ensure the box shadow shows.
  border-radius: 3px;
  overflow: hidden;
  background: #fff;
  display: flex;
  flex-direction: column;

  &:last-child {
    margin-bottom: 0;
  }

  .accordion-item-header {
    padding: $spacer-lg 48px + $spacer-lg $spacer-lg $spacer-lg;
    cursor: pointer;
    position: relative;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 0;
    }
  }

  .accordion-item-header svg.accordion-expand-collapse-icon {
    width: 26px;
    position: absolute;
    right: 20px;
    top: 25px;
    fill: $animated-accordion-header-icon-fill;
  }

  .accordion-item-header:hover svg {
    fill: $animated-accordion-header-icon-hover-fill;
  }

  .accordion-item-header h4 {
    margin-bottom: 0;
  }

  .accordion-item-content {
    overflow: hidden;
    height: 0;
  }

  &.open > .accordion-item-content {
    height: auto;
  }

  .accordion-item-content-inner {
    padding: 0 $spacer-lg $spacer-lg;
    background: #fff;
    overflow-x: auto;
  }
}
