div.pop-up-box {
  width: 100%;
  max-width: 340px;
  padding: 15px;
  background: #fff;
  border: 1px solid #bbb;
  border-radius: $pop-up-box-border-radius;
  margin: 10px 0;
  &.auto-width {
    display: inline-block;
    max-width: 100%;
    width: auto;
  }
}
