.draggable-dropzone {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px dotted $draggable-dropzone-border-color;
  border-radius: 5px;
  background: #fff;
}

.draggable-dropzone.activated {
  border-color: $draggable-dropzone-activated-border-color;
  color: $draggable-dropzone-activated-color;
  background-color: #f0f0f0;
}

.draggable-dropzone.disabled {
  opacity: 0.5;
  &:hover {
    cursor: not-allowed;
  }
}
