.in-page-alert {
  font-weight: 700;
  max-width: 560px;
  text-align: left;
  svg.in-page-alert-icon {
    float: left;
    margin: -2px 2px;
    width: 18px;
    height: 16px;
  }
  h1,
  h2,
  h3,
  h4 {
    text-transform: uppercase;
    color: inherit;
    margin-bottom: 0.5em;
  }
  ul {
    margin-top: 0;
  }

  a,
  .fake-link {
    color: inherit;
    text-decoration: underline;
  }

  a:hover,
  .fake-link:hover {
    color: #222;
  }
}
