.select-all-checkbox {
  &.some-selected {
    input[type='checkbox']:after {
      background: #bbb $svg-data-uri-icon-bar no-repeat center 2px;
      background-size: 14px;
    }
  }

  &.all-selected {
    input[type='checkbox']:after {
      background: #bbb $svg-data-uri-icon-tick no-repeat center 4px;
      background-size: 11px;
    }
  }
}
