.labelled-checkbox,
.labelled-radio-button {
  p:last-child {
    margin-bottom: 0;
  }
  input {
    float: left;
    margin-right: 6px;
  }
}

.radio-button-group .labelled-radio-button:not(:last-child),
.checkbox-group .labelled-checkbox:not(:last-child) {
  margin-bottom: 20px !important;
}