

.ember-power-datetime-picker {
  display: flex;
  flex-wrap: wrap;


  input {
    border-width: 0;
    padding-right: 0;
    background: transparent;
  }
}

.ember-power-datepicker-trigger {
  margin-right: 10px;
}

.time-select {
  display: flex;
  flex-wrap: wrap;
  background: $power-datetime-picker-time-select-background-color;
  border-radius: $power-datetime-picker-time-select-border-radius;
  display: flex;
  align-items: center;
  svg {
    margin-top: 5px;
    display: inline-block;
    height: 20px;
    width: auto;
    fill: #fff;
  }

  .ember-power-select-trigger {
    padding-left: 0;
    padding-right: 0;
    width: 40px;
    border-width: 0;
    background: transparent;
    color: $power-datetime-picker-time-select-trigger-color;
    display: flex;
    align-items: center;
    .ember-power-select-selected-item {
      margin-top: 2px;
      margin-left: 4px;
      display: inline-block;
    }

    .ember-power-select-status-icon {
      display: none;
    }
  }

  // .ember-power-select-trigger:hover {
  //   background: $button-hover-background-color;
  // }

  // .ember-power-select-trigger:focus {
  //   background: $button-focus-background-color;
  // }

  .time-select-trigger.hour {
    text-align: right;

    .ember-power-select-selected-item {
      margin-right: 4px;
      margin-left: 18px;
    }
  }

  .time-divider {
    color: $power-datetime-picker-time-select-trigger-color;
  }
}

// .time-select:hover {
//   background: $button-hover-background-color;
// }

.time-select.disabled {
  background: $power-datetime-picker-time-select-disabled-background-color;
}

.ember-power-select-dropdown.form-field-time-select {
  width: 60px;
}

.clear-date-time-button {
  font-family: Arial, sans-serif;
  font-size: 30px;
  color: #bbb;
  line-height: 100%;
  margin: 6px 0 0 8px;
}

.clear-date-time-button:hover {
  cursor: pointer;
}