{{#basic-dropdown verticalPosition=verticalPosition horizontalPosition=horizontalPosition renderInPlace=renderInPlace initiallyOpened=initiallyOpened as |dropdown|}}
  {{#dropdown.trigger class=triggerClasses}}
    {{yield "trigger"}}
  {{/dropdown.trigger}}
  {{#dropdown.content class=(concat contentClasses " " positionClass)}}
    <div class="pop-up-box box-arrow">
      {{#if message}}<p class='alert-text'>{{message}}</p>{{/if}}
      {{yield "content"}}
    </div>
  {{/dropdown.content}}
{{/basic-dropdown}}