{{#if relatedCollection}}
  <div class="input-radio-checkbox">
    <div class="radio-checkbox-dummy" onclick={{action "sendChangedAction"}}>
      {{svg/radio-button-checkbox-graphics}}
    </div>
  </div>
  {{#if label}}<label>{{label}}</label>{{/if}}
{{/if}}